rs.tdwg.org/ncd/0.40/NCDv0pt40.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by Neil Thomson (The Natural History Museum) -->
<!-- This is version 0.40 September 2006. Please send comments to n.thomson AT nhm.ac.uk -->
<xs:schema targetNamespace="http://rs.tdwg.org/ncd/0.40" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns="http://rs.tdwg.org/ncd/0.40" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified"
	version="0.40">
	<xs:element name="Collection">
		<xs:annotation>
			<xs:documentation>Root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NCDHeader">
					<xs:annotation>
						<xs:documentation>Element group holding information about this collection description record</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="NCDID" type="xs:string">
								<xs:annotation>
									<xs:documentation>Unique ID for this record.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="RecordType" type="xs:string">
								<xs:annotation>
									<xs:documentation>One of two values: "physical" when the record is decribing a real collection, or "virtual" when the record has been derived from a query on an item-level database e.g. all items from Australia.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="RecordSource" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Source of this record, if not original.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="OriginalSource" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Acknowledgement of the creator of the record, usually an institution and system name.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="IDinOriginalSource" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Unique ID of the record in the original system. </xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="HarvestedFrom" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Acknowledgement of the immediate source of this record, if this is not the original source.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="HarvestDate" type="xs:date" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Date that the record was harvested.</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Agents">
								<xs:annotation>
									<xs:documentation>Persons, organisations or software involved in the production of this record.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Agent" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="AgentID" minOccurs="0" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Unique identifier for the agent with attribute for source, or domain.</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="Source" type="xs:string" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="AgentName" type="xs:string">
														<xs:annotation>
															<xs:documentation>Full name of the person, organisation or software.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="AgentRole">
														<xs:annotation>
															<xs:documentation>Role that the agent has played with respect to this record, e.g. creator, editor etc.</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="Language" type="xs:anySimpleType" use="optional"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="Note" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Note on the action taken by the agent e.g. in changing this record to provide additional or corrected information.</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="Language" type="xs:anySimpleType" use="optional"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="RecordCreatedDate">
								<xs:annotation>
									<xs:documentation>Date on which this record was created. Required and unchanging element.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="RecordEditDate" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Date of editing. Required if appropriate.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="RecordIPR" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Intellectual property rights statements about this record.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DescriptiveGroup">
					<xs:annotation>
						<xs:documentation>Element Group holding main description of the collection</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CollectionID">
								<xs:annotation>
									<xs:documentation>Identifier for the collection, with an attribute for the source. When used together with the InstitutionID, should form a globally unique identifier (GUID). Required element.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="Source" type="xs:anySimpleType" use="optional"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="ParentCollectionID" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Identifier for the parent of the collection, with an attribute for source. Allows a collections hierarchy</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="Source" type="xs:anySimpleType" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="CollectionName">
								<xs:annotation>
									<xs:documentation>Name of the collection, often in the form "x collection of y". Attribute indicates the language of the text. Required element.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="Language" type="xs:anySimpleType" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="CollectionUniformName" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Uniform version of collection name. Expected to be in the English language and usually in the form "x collection of y"</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Abstract">
								<xs:annotation>
									<xs:documentation>Main description element, may be anything from a few words to an essay. Should be suitabe for a general audience. Attribute indicates the language of the text. Required element.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="Language" type="xs:anySimpleType" use="optional"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="DescriptionForSpecialists" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Optional additional descriptive text using terms that are more suited to a specialist audience. Attribute indicates the language of the text.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="Language" type="xs:anySimpleType" use="optional"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="IncludesTypes" type="xs:boolean" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Flag element to indicate that the collection includes types</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="CollectionExtent" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Estimate of the size of the collection. Attributes indicate the number of objects and unit of measure e.g. skins / 12 / small cupboards. Repeatable element</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="Number" type="xs:anySimpleType" use="optional"/>
									<xs:attribute name="UnitOfMeasure" type="xs:anySimpleType" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="CollectionFocus" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Keyword to indicate primary focus of collection e.g. regional / personal archive / taxonomic / expedition / bibliographic / original artwork / other</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="CollectionPurpose" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Keword to indicate primary purpose of collection e.g. research / education / exhibition / other</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Citation" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Preferred citation for the collection, which may include sponsorship acknowledgements</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="Language" type="xs:anySimpleType" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Notes" minOccurs="0">
								<xs:annotation>
									<xs:documentation>General notes, for anything that does not fit elsewhere</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="Language" type="xs:anySimpleType" use="optional"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="AdministrativeGroup" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Element Group holding administrative information</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CollectionFormationYearsRange" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Text description of the time period during which the collection was assembled e.g. Victorian / 1922 - 1932 / c. 1750</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="CollectionDevelopmentStatus" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Indicator of whether the collection is "live" e.g. active / passive / closed / lost. An attribute gives the date of this status</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="Date" type="xs:date" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="ConservationStatus" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Indicator of the conservation status of the collection using the McGinley scale. An attribute gives the date of this status</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="Date" type="xs:date" use="optional"/>
									<xs:attribute name="Source" type="xs:string" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="DigitalFileFormats" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Indicator of format(s) held in digital collections e.g. PDF / PPT / Unknown. Especially important to record unusual formats so they can be matched against a format registry for migration strategy.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="DigitalStorageFormats" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Indicator of physical formats used to store digital data e.g. ZIP disk, DVD-RW, CD-ROM, DAT tape etc.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="AccessRestrictions" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Description of any restrictions on access to the collection. May be a URL that points to an institution-wide policy</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="Language" type="xs:anySimpleType" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="UsageRestrictions" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Description of any restrictions on the uses that may be made of the collection. May be a URL that points to an institution-wide policy</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="Language" type="xs:anySimpleType" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="IPRStatements" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Statement(s) covering the intellectual property rights attached to the collection.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="Language" type="xs:anySimpleType" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="CustodialHistory" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Note to record 1) Previous location of collection and/or 2) New location of collection, where these are institutions other than that identified in this record.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="Language" type="xs:anySimpleType" use="optional"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="InstitutionGroup" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Element Group for details about the holding institution</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="InstitutionID" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Identifer or coden for the holding institution. An attribute holds the source of the ID, which may an authority e.g. MARC or "local"</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="Source" type="xs:anySimpleType" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="ParentInstitutionID" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Identifier for the parent institution. An attribute holds the source of the ID, which may an authority e.g. MARC or "local" </xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="Source" type="xs:anySimpleType" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="InstitutionName" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Formal name of the institution</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="Language" type="xs:anySimpleType" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="InstitutionClass" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Keyword description of the institution e.g. Botanic Garden</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="Language" type="xs:anySimpleType" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="InstitutionalContactPost" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Title of a post within the institution to whom enquiries may be made about all collections e.g. Science Director</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="Language" type="xs:anySimpleType" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="PostalAddressText" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Complete postal address of the institution, such as may be used on a postal envelope</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="Language" type="xs:anySimpleType" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="ZIPCode" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Separate element for ZIP code or postal code for searching and sorting purposes</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Town" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Separate element for city, town or village name for sorting and searching purposes</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="Language" type="xs:anySimpleType" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Region" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Separate element for region, county or department for sorting and searching purposes</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="Language" type="xs:anySimpleType" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="ISOCountryCode" minOccurs="0">
								<xs:annotation>
									<xs:documentation>ISO 3-letter country code</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="CountryName" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Separate element for country name for sorting and searching purposes</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="Language" type="xs:anySimpleType" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Telephone" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Institution main telephone or switchboard number</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Fax" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Institution main fax number</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Email" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Institution main email address</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="LogoURL" minOccurs="0">
								<xs:annotation>
									<xs:documentation>URL of the insitutional logo</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PersonsGroup" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Repeatable element group for details about persons associated with the collection.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Person" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PersonID" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Identifier for the person. An attribute gives the source</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="Source" type="xs:anySimpleType" use="optional"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="NamePrefix" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Name prefix e.g. Mr / Ms / Dr / Professor / Sir / ...</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="FamilyName">
											<xs:annotation>
												<xs:documentation>Family or main name. Required element</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="GivenNames" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Given names in order</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="NameSuffix" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Name suffix e.g. Bart / Jr / III / ...</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="AdditionalNames" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Other names by which the person may be known - psuedonyms, noms-de-plume etc.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="PreferredFormOfName" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Full form of name preferred by the individual, which may be, or include, a nickname</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="BirthYear" type="xs:gYear" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Year of birth, where needed to disambiguate.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="DeathYear" type="xs:gYear" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Year of death, if applicable</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Role" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Role of the person in relation to the collection e.g. collector / administrator / owner / preparator / ...</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="Language" type="xs:anySimpleType" use="optional"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="KeywordsGroup" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Element group holding keywords. Source attribute may be "verbatim" or identify a published source for controlled terms </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TaxonCoverage" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Taxon or taxa in the collection at Family level ot higher.  Attributes indicate authority source for the term (or "verbatim"), the ID of the term in that source and a flag to indicate a particular strength.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="Source" type="xs:anySimpleType" use="optional"/>
									<xs:attribute name="IDinSource" type="xs:anySimpleType" use="optional"/>
									<xs:attribute name="Strength" type="xs:boolean" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="CommonNameCoverage" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Common names or group names.  Attributes indicate authority source for the term (or "verbatim"), the ID of the term in that source, a flag to indicate a particular strength and the ISO language.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="Source" type="xs:anySimpleType" use="optional"/>
									<xs:attribute name="IDinSource" type="xs:anySimpleType" use="optional"/>
									<xs:attribute name="Strength" type="xs:boolean" use="optional"/>
									<xs:attribute name="Language" type="xs:string" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="GeospatialCoverage" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Place names and/or coordinates indicating the place(s) from which material in the collection originated.  Attributes indicate authority source for the term (or "verbatim"), the ID of the term in that source, a flag to indicate a particular strength and the ISO language.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="Source" type="xs:anySimpleType" use="optional"/>
									<xs:attribute name="IDinSource" type="xs:anySimpleType" use="optional"/>
									<xs:attribute name="Strength" type="xs:boolean" use="optional"/>
									<xs:attribute name="Language" type="xs:string" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="LivingTimePeriod" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Time period during which biological material was alive. Includes palaeontological time periods or other text phrases. Attributes indicate authority source for the term (or "verbatim"), the ID of the term in that source and a flag to indicate a particular strength.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="Source" type="xs:anySimpleType" use="optional"/>
									<xs:attribute name="IDinSource" type="xs:anySimpleType" use="optional"/>
									<xs:attribute name="Strength" type="xs:boolean" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="CollectionClass" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Class of collection.  Attributes indicate authority source for the term (or "verbatim"), the ID of the term in that source, a flag to indicate a particular strength and the ISO language.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="Source" type="xs:anySimpleType" use="optional"/>
									<xs:attribute name="IDinSource" type="xs:anySimpleType" use="optional"/>
									<xs:attribute name="Strength" type="xs:boolean" use="optional"/>
									<xs:attribute name="Language" type="xs:string" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="ObjectClass" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Class of objects within a collections.  Attributes indicate authority source for the term (or "verbatim"), the ID of the term in that source, a flag to indicate a particular strength and the ISO language.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="Source" type="xs:anySimpleType" use="optional"/>
									<xs:attribute name="IDinSource" type="xs:anySimpleType" use="optional"/>
									<xs:attribute name="Strength" type="xs:boolean" use="optional"/>
									<xs:attribute name="Language" type="xs:string" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="SpecimenPreservationMethod" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Preservation method for specimen collections.  Attributes indicate authority source for the term, the ID of the term in that source and a flag to indicate a particular strength.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="Source" type="xs:anySimpleType" use="optional"/>
									<xs:attribute name="IDinSource" type="xs:anySimpleType" use="optional"/>
									<xs:attribute name="Language" type="xs:anySimpleType" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="ExpeditionName" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Uniform name for an expedition or voyage of discovery during which the material was collected.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="Language" type="xs:anySimpleType" use="optional"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="RelatedMaterialsGroup" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Element group for details about related resources and collections</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="RelatedResources" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Repeatable element indicating resources elsewhere that are related to the collection, such as printed catalogues, Websites etc. </xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="Language" type="xs:anySimpleType" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="RelatedCollections" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Repeatable element. Identifier for, or short description of, related collections, such as for the components of a large collection that has been dispersed</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="Language" type="xs:anySimpleType" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="CollectionDatabaseURL" minOccurs="0">
								<xs:annotation>
									<xs:documentation>URL of an item-level database available over the Web</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="RichRecordSearchString" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Search string that will return the record of a richer description of this collection, for example an EAD record in an archive database. May be a URL</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
