rs.tdwg.org/ncd/dev/Collection.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified"
 targetNamespace="http://rs.tdwg.org/ontology/voc/Collection#"
 xmlns:tcol="http://rs.tdwg.org/ontology/voc/Collection#"
 xmlns:tcd="http://rs.tdwg.org/ontology/voc/ContactDetails#"
 xmlns:tinst="http://rs.tdwg.org/ontology/voc/Institution#"
 xmlns:tp="http://rs.tdwg.org/ontology/voc/Person#"
 xmlns:xs="http://www.w3.org/2001/XMLSchema"
 xmlns:dcterm="http://purl.org/dc/terms/"
 xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
 xmlns:owl="http://www.w3.org/2002/07/owl#" xmlns:dc="http://purl.org/dc/elements/1.1/"
 xmlns:tcom="http://rs.tdwg.org/ontology/voc/Common#"
 xmlns:xml="http://www.w3.org/XML/1998/namespace" >
 
 <xs:import namespace="http://purl.org/dc/elements/1.1/" schemaLocation="dc.xsd"/>
 <xs:import namespace="http://purl.org/dc/terms/" schemaLocation="dcterms.xsd"/>
 <xs:import namespace="http://www.w3.org/2002/07/owl#" schemaLocation="owl.xsd"/>
 <xs:import namespace="http://rs.tdwg.org/ontology/voc/Common#" schemaLocation="tcom.xsd"/>
 <xs:import namespace="http://rs.tdwg.org/ontology/voc/Person#" schemaLocation="Person.xsd"/>
 <xs:import namespace="http://rs.tdwg.org/ontology/voc/ContactDetails#" schemaLocation="ContactDetails.xsd"/>
 <xs:import namespace="http://rs.tdwg.org/ontology/voc/Institution#" schemaLocation="Institution.xsd"/>
 <xs:import namespace="http://www.w3.org/1999/02/22-rdf-syntax-ns#" schemaLocation="ncd.xsd"/>
 <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
 
 <xs:element name="Collection" type="tcol:CollectionType" >
  <!-- unique constraints so that elements with multiple languages exist only once per language -->
  <xs:unique name="TitleLangUnique">
    <xs:selector xpath="dc:title" />
    <xs:field xpath="@xml:lang"/>
  </xs:unique>
  <xs:unique name="DescriptionLangUnique">
   <xs:selector xpath="dc:description" />
   <xs:field xpath="@xml:lang"/>
  </xs:unique>
  <xs:unique name="descriptionForSpecialistsLangUnique">
   <xs:selector xpath="tcol:descriptionForSpecialists" />
   <xs:field xpath="@xml:lang"/>
  </xs:unique>     
  <xs:unique name="extentLangUnique">
   <xs:selector xpath="dcterm:extent" />
   <xs:field xpath="@xml:lang"/>
  </xs:unique>
  <xs:unique name="citeAsLangUnique">
   <xs:selector xpath="tcol:citeAs" />
   <xs:field xpath="@xml:lang"/>
  </xs:unique>
  <xs:unique name="formationPeriodLangUnique">
   <xs:selector xpath="tcol:formationPeriod" />
   <xs:field xpath="@xml:lang"/>
  </xs:unique>
  <xs:unique name="accessRightsLangUnique">
   <xs:selector xpath="dcterm:accessRights" />
   <xs:field xpath="@xml:lang"/>
  </xs:unique>
  <xs:unique name="usageRestrictionsLangUnique">
   <xs:selector xpath="tcol:usageRestrictions" />
   <xs:field xpath="@xml:lang"/>
  </xs:unique>
  <xs:unique name="rightsLangUnique">
   <xs:selector xpath="dc:rights" />
   <xs:field xpath="@xml:lang"/>
  </xs:unique>
  <xs:unique name="provenanceLangUnique">
   <xs:selector xpath="dcterm:provenance" />
   <xs:field xpath="@xml:lang"/>
  </xs:unique>     
  <xs:unique name="noteLangUnique">
   <xs:selector xpath="tcom:note" />
   <xs:field xpath="@xml:lang"/>
  </xs:unique>
  
 </xs:element>

 <xs:element name="DerivedCollection" type="tcol:CollectionType" >
  <!-- unique constraints so that elements with multiple languages exist only once per language -->
  <xs:unique name="TitleDColLangUnique">
   <xs:selector xpath="dc:title" />
   <xs:field xpath="@xml:lang"/>
  </xs:unique>
  <xs:unique name="DescriptionDColLangUnique">
   <xs:selector xpath="dc:description" />
   <xs:field xpath="@xml:lang"/>
  </xs:unique>
  <xs:unique name="descriptionForSpecialistsDColLangUnique">
   <xs:selector xpath="tcol:descriptionForSpecialists" />
   <xs:field xpath="@xml:lang"/>
  </xs:unique>     
  <xs:unique name="extentDColLangUnique">
   <xs:selector xpath="dcterm:extent" />
   <xs:field xpath="@xml:lang"/>
  </xs:unique>
  <xs:unique name="citeAsDColLangUnique">
   <xs:selector xpath="tcol:citeAs" />
   <xs:field xpath="@xml:lang"/>
  </xs:unique>
  <xs:unique name="formationPeriodDColLangUnique">
   <xs:selector xpath="tcol:formationPeriod" />
   <xs:field xpath="@xml:lang"/>
  </xs:unique>
  <xs:unique name="accessRightsDColLangUnique">
   <xs:selector xpath="dcterm:accessRights" />
   <xs:field xpath="@xml:lang"/>
  </xs:unique>
  <xs:unique name="usageRestrictionsDColLangUnique">
   <xs:selector xpath="tcol:usageRestrictions" />
   <xs:field xpath="@xml:lang"/>
  </xs:unique>
  <xs:unique name="rightsDColLangUnique">
   <xs:selector xpath="dc:rights" />
   <xs:field xpath="@xml:lang"/>
  </xs:unique>
  <xs:unique name="provenanceDColLangUnique">
   <xs:selector xpath="dcterm:provenance" />
   <xs:field xpath="@xml:lang"/>
  </xs:unique>     
  <xs:unique name="noteDColLangUnique">
   <xs:selector xpath="tcom:note" />
   <xs:field xpath="@xml:lang"/>
  </xs:unique>
  
 </xs:element>
 

 <xs:complexType name="CollectionType">
  
  <xs:sequence>
   <xs:element name="isPartOfCollection" type="tcol:CollectionLinkType" minOccurs="0" maxOccurs="1">
    <xs:annotation>
     <xs:documentation>Collection this subcollection belongs to</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="alternativeId" type="tcol:TermWithSourceType" maxOccurs="unbounded"
    minOccurs="0">
    <xs:annotation>
     <xs:documentation>Alternative identifier for the collection with an indication of the
      source.</xs:documentation>
    </xs:annotation>
   </xs:element>

    <!-- START OF DescriptiveGroup -->
    <xs:element ref="dc:title" minOccurs="1" maxOccurs="unbounded">
     <xs:annotation>
      <xs:documentation>This should be the official name </xs:documentation>
     </xs:annotation>     
    </xs:element>
    <xs:element ref="dcterm:alternative" minOccurs="0" maxOccurs="unbounded">
     <xs:annotation>
      <xs:documentation>Alternative title</xs:documentation>
     </xs:annotation>
    </xs:element>
    <xs:element ref="dc:description"  minOccurs="1" maxOccurs="unbounded">
     <xs:annotation>
      <xs:documentation>Main description element, may be anything from a few words to an essay.
       Should be suitabe for a general audience. Attribute indicates the language of the text.
       Required element.</xs:documentation>
     </xs:annotation>
    </xs:element>
   <xs:element name="collectionType" type="rdf:CollectionTypeEnumerationType" minOccurs="0" maxOccurs="unbounded">
    <xs:annotation>
     <xs:documentation>The class or type of  collection. E.g. herbarium</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="descriptionForSpecialists" type="tcom:langStringType" minOccurs="0" maxOccurs="unbounded">
    <xs:annotation>
     <xs:documentation>Optional additional descriptive text using terms that are more suited to a
      specialist audience. Attribute indicates the language of the text.</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="knownToContainTypes" type="xs:boolean" minOccurs="0" maxOccurs="1">
    <xs:annotation>
     <xs:documentation>Flag element to indicate that the collection includes
      types</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element ref="dcterm:extent" minOccurs="0" maxOccurs="unbounded">
    <xs:annotation>
     <xs:documentation>***</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="primaryFocus" type="rdf:PrimaryFocusEnumerationType" minOccurs="0" maxOccurs="1">
    <xs:annotation>
     <xs:documentation>Keyword to indicate primary focus of collection e.g. regional / personal
      archive / taxonomic / expedition / bibliographic / original artwork /
      other</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="primaryPurpose" type="rdf:PrimaryPurposeEnumerationType" minOccurs="0" maxOccurs="1">
    <xs:annotation>
     <xs:documentation>Keyword to indicate primary purpose of collection e.g. research / education
      / exhibition / other</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="citeAs" type="tcom:langStringType" minOccurs="0" maxOccurs="unbounded">
    <xs:annotation>
     <xs:documentation>Preferred citation for the collection, which may include sponsorship
      acknowledgements</xs:documentation>
    </xs:annotation>
   </xs:element>



   <!-- START OF AdministrativeGroup -->
   <xs:element name="formationPeriod" type="tcom:langStringType" minOccurs="0" maxOccurs="unbounded">
    <xs:annotation>
     <xs:documentation>FIXME</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="developmentStatus" type="rdf:DevelopmentStatusEnumerationType" minOccurs="0" maxOccurs="1">
    <xs:annotation>
     <xs:documentation>Indicator of whether the collection is "live" e.g. active / passive / closed
      / lost.</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="conservationStatus" type="rdf:ConservationStatusEnumerationType" minOccurs="0" maxOccurs="unbounded">
    <xs:annotation>
     <xs:documentation>Indicator of the conservation status of the collection using (for example)
      the McGinley scale. An attribute gives the date of this status.</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="conservationStatusDate" type="xs:date" minOccurs="0" maxOccurs="unbounded">
    <xs:annotation>
     <xs:documentation>the date of the respective development status.</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element ref="dc:format" minOccurs="0" maxOccurs="unbounded">
    <xs:annotation>
     <xs:documentation>***</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element ref="dcterm:medium" minOccurs="0" maxOccurs="unbounded">
    <xs:annotation>
     <xs:documentation>***</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element ref="dcterm:accessRights" minOccurs="0" maxOccurs="unbounded">
    <xs:annotation>
     <xs:documentation>***</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="usageRestrictions" type="tcom:langStringType" minOccurs="0" maxOccurs="unbounded">
    <xs:annotation>
     <xs:documentation>FIXME</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="hasContact" type="tcd:ContactDetailsLinkType" minOccurs="1" maxOccurs="unbounded">
    <xs:annotation>
     <xs:documentation>A link to an object that contains contact information, (such as postal
      address, email address and phone number) for this collection.</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="hasOwner" minOccurs="1" maxOccurs="1">
    <xs:annotation>
     <xs:documentation>A link to an institution or person that owns this collection.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
     <xs:choice>
      <xs:element ref="tinst:Institution" maxOccurs="1" minOccurs="1"/>
      <xs:element ref="tp:Person" maxOccurs="1" minOccurs="1"/>
     </xs:choice>
     <xs:attribute ref="rdf:resource"/>
    </xs:complexType>
   </xs:element>
   <xs:element name="physicalLocation" minOccurs="0" maxOccurs="1">
    <xs:annotation>
     <xs:documentation>Identifier for the institution hosting the collection</xs:documentation>
    </xs:annotation>
    <xs:complexType>
     <xs:choice>
      <xs:element ref="tinst:Institution" maxOccurs="1" minOccurs="1"/>
      <xs:element ref="tp:Person" maxOccurs="1" minOccurs="1"/>
     </xs:choice>
     <xs:attribute ref="rdf:resource"/>
    </xs:complexType>
   </xs:element>
   <xs:element ref="dc:rights" minOccurs="0" maxOccurs="unbounded">
    <xs:annotation>
     <xs:documentation>***</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element ref="dcterm:provenance" minOccurs="0" maxOccurs="unbounded">
    <xs:annotation>
     <xs:documentation>***</xs:documentation>
    </xs:annotation>
   </xs:element>



   <!-- START OF KeywordsGroup -->
   <xs:element name="kingdomCoverage" type="rdf:KingdomTypeEnumerationType" minOccurs="0" maxOccurs="unbounded">
    <xs:annotation>
     <xs:documentation>FIXME</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="taxonCoverage" type="tcol:TermWithSourceType" minOccurs="0" maxOccurs="unbounded">
      <!-- this should really be a link to a TaxonConcept -->
      <xs:annotation>
       <xs:documentation>Taxon or taxa in the collection at Family level or
        higher.</xs:documentation>
      </xs:annotation>
     </xs:element>
     <xs:element name="taxonCoverageStrength" type="tcol:TermWithSourceType" minOccurs="0" maxOccurs="unbounded">
      <!-- this should really be a link to a TaxonConcept -->
      <xs:annotation>
       <xs:documentation>Taxon or taxa in the collection at Family level or
        higher.</xs:documentation>
      </xs:annotation>
     </xs:element>
   <xs:element name="commonNameCoverage" type="tcol:TermWithLangSourceType" minOccurs="0" maxOccurs="unbounded">
      <xs:annotation>
       <xs:documentation>Common names or group names.</xs:documentation>
      </xs:annotation>
     </xs:element>
   <xs:element name="commonNameCoverageStrength" type="tcol:TermWithLangSourceType" minOccurs="0" maxOccurs="unbounded">
      <xs:annotation>
       <xs:documentation>Common names or group names.</xs:documentation>
      </xs:annotation>
     </xs:element>
   <xs:element name="geospatialCoverage" type="tcol:TermWithLangSourceType" minOccurs="0" maxOccurs="unbounded">
      <xs:annotation>
       <xs:documentation>Place names and/or coordinates indicating the place(s) from which material
        in the collection originated.</xs:documentation>
      </xs:annotation>
     </xs:element>
   <xs:element name="geospatialCoverageStrength" type="tcol:TermWithLangSourceType" minOccurs="0" maxOccurs="unbounded">
      <xs:annotation>
       <xs:documentation>Place names and/or coordinates indicating the place(s) from which material
        in the collection originated.</xs:documentation>
      </xs:annotation>
     </xs:element>
   <xs:element name="livingTimePeriodCoverage" type="tcol:TermWithLangSourceType" minOccurs="0" maxOccurs="unbounded">
      <xs:annotation>
       <xs:documentation>Time period during which biological material was alive. Includes
        palaeontological time periods or other text phrases.</xs:documentation>
      </xs:annotation>
     </xs:element>
   <xs:element name="livingTimePeriodCoverageStrength" type="tcol:TermWithLangSourceType" minOccurs="0" maxOccurs="unbounded">
      <xs:annotation>
       <xs:documentation>Time period during which biological material was alive. Includes
        palaeontological time periods or other text phrases.</xs:documentation>
      </xs:annotation>
     </xs:element>
     <xs:element name="specimenPreservationMethod" type="rdf:PreservationMethodEnumerationType" minOccurs="0" maxOccurs="unbounded">
      <xs:annotation>
       <xs:documentation>Preservation method for specimen collections.</xs:documentation>
      </xs:annotation>
     </xs:element>
   <xs:element name="expeditionNameCoverage" type="tcol:TermWithLangSourceType" minOccurs="0" maxOccurs="unbounded">
      <xs:annotation>
       <xs:documentation>Uniform name for an expedition or voyage of discovery during which the
        material was collected.</xs:documentation>
      </xs:annotation>
     </xs:element>
     <xs:element name="collectorNameCoverage" type="tcol:TermWithSourceType" minOccurs="0" maxOccurs="unbounded">
      <xs:annotation>
       <xs:documentation>Uniform name for an collector or voyage of discovery during which the
        material was collected.</xs:documentation>
      </xs:annotation>
     </xs:element>
     <xs:element name="associatedAgent" minOccurs="0" maxOccurs="unbounded">
      <xs:annotation>
       <xs:documentation>A link to an institution or person that serves as a keyword for this collection.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
       <xs:choice>
        <xs:element ref="tinst:Institution" maxOccurs="1" minOccurs="1"/>
        <xs:element ref="tp:Person" maxOccurs="1" minOccurs="1"/>
       </xs:choice>
       <xs:attribute ref="rdf:resource"/>
      </xs:complexType>
     </xs:element>



   <!-- START OF RelatedMaterialsGroup -->
   <xs:element ref="dc:relation" minOccurs="0" maxOccurs="unbounded">
    <xs:annotation>
     <xs:documentation>Indicating resources elsewhere that are related to the collection, such as printed catalogues, Websites etc.</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="relatedCollection" type="xs:string" minOccurs="0" maxOccurs="unbounded">
    <!-- fixme: should this be a link to another collection object rather than a string? -->
    <xs:annotation>
     <xs:documentation>Identifier for, or short description of, related collections, such as for
      the components of a large collection that has been dispersed.</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="itemLevelAccess" type="tcom:SimpleLinkType" minOccurs="0" maxOccurs="unbounded">
    <xs:annotation>
     <xs:documentation>URI of an item-level data source. This can be a webservice or a webpage
      designed for humans. Previously known as "collectionDatabaseURL".</xs:documentation>
    </xs:annotation>
   </xs:element>



   <xs:element ref="tcom:note" minOccurs="0" maxOccurs="unbounded">
    <xs:annotation>
     <xs:documentation>General notes, for anything that does not fit elsewhere</xs:documentation>
    </xs:annotation>
   </xs:element>



 </xs:sequence>
 <xs:attribute ref="rdf:about" use="optional"/>
</xs:complexType>

 <xs:complexType name="TermWithSourceType">
  <xs:sequence>
   <xs:element name="TermWithSource" minOccurs="1" maxOccurs="1">
    <xs:complexType>
     <xs:sequence>
      <xs:element name="term" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="source" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="idInSource" type="xs:string" minOccurs="0" maxOccurs="1"/>
     </xs:sequence>
    </xs:complexType>
   </xs:element>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name="TermWithLangSourceType">
  <xs:sequence>
   <xs:element name="TermWithSource" minOccurs="1" maxOccurs="1">
    <xs:complexType>
     <xs:sequence>
      <xs:element name="term" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="source" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="idInSource" type="xs:string" minOccurs="0" maxOccurs="1"/>
     </xs:sequence>
     <xs:attribute ref="xml:lang" use="optional" default="en"/>     
    </xs:complexType>
   </xs:element>
  </xs:sequence>
 </xs:complexType>
 
 <xs:complexType name="CollectionLinkType">
  <xs:sequence>
   <xs:element ref="tcol:Collection" maxOccurs="1" minOccurs="0"/>
  </xs:sequence>
  <xs:attribute ref="rdf:resource" use="optional"/>
 </xs:complexType>

 
</xs:schema>
